In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("package.csv")

In [3]:
data.head(4)

   CGPA  Salary
0   5.5      30
1   4.4      25
2   7.7      40
3   5.5      34

In [4]:
x=data.iloc[:,:-1]
y=data["Salary"]

In [5]:
from sklearn.model_selection import LeaveOneOut,LeavePOut,KFold,StratifiedKFold

In [6]:
lo=LeaveOneOut()
for train,test in lo.split(x,y):
    print(train,test)

[ 1  2  3  4  5  6  7  8  9 10 11 12] [0]
[ 0  2  3  4  5  6  7  8  9 10 11 12] [1]
[ 0  1  3  4  5  6  7  8  9 10 11 12] [2]
[ 0  1  2  4  5  6  7  8  9 10 11 12] [3]
[ 0  1  2  3  5  6  7  8  9 10 11 12] [4]
[ 0  1  2  3  4  6  7  8  9 10 11 12] [5]
[ 0  1  2  3  4  5  7  8  9 10 11 12] [6]
[ 0  1  2  3  4  5  6  8  9 10 11 12] [7]
[ 0  1  2  3  4  5  6  7  9 10 11 12] [8]
[ 0  1  2  3  4  5  6  7  8 10 11 12] [9]
[ 0  1  2  3  4  5  6  7  8  9 11 12] [10]
[ 0  1  2  3  4  5  6  7  8  9 10 12] [11]
[ 0  1  2  3  4  5  6  7  8  9 10 11] [12]

In [7]:
lp=LeavePOut(p=2)
for train,test in lp.split(x,y):
    print(train,test)

[ 2  3  4  5  6  7  8  9 10 11 12] [0 1]
[ 1  3  4  5  6  7  8  9 10 11 12] [0 2]
[ 1  2  4  5  6  7  8  9 10 11 12] [0 3]
[ 1  2  3  5  6  7  8  9 10 11 12] [0 4]
[ 1  2  3  4  6  7  8  9 10 11 12] [0 5]
[ 1  2  3  4  5  7  8  9 10 11 12] [0 6]
[ 1  2  3  4  5  6  8  9 10 11 12] [0 7]
[ 1  2  3  4  5  6  7  9 10 11 12] [0 8]
[ 1  2  3  4  5  6  7  8 10 11 12] [0 9]
[ 1  2  3  4  5  6  7  8  9 11 12] [ 0 10]
[ 1  2  3  4  5  6  7  8  9 10 12] [ 0 11]
[ 1  2  3  4  5  6  7  8  9 10 11] [ 0 12]
[ 0  3  4  5  6  7  8  9 10 11 12] [1 2]
[ 0  2  4  5  6  7  8  9 10 11 12] [1 3]
[ 0  2  3  5  6  7  8  9 10 11 12] [1 4]
[ 0  2  3  4  6  7  8  9 10 11 12] [1 5]
[ 0  2  3  4  5  7  8  9 10 11 12] [1 6]
[ 0  2  3  4  5  6  8  9 10 11 12] [1 7]
[ 0  2  3  4  5  6  7  9 10 11 12] [1 8]
[ 0  2  3  4  5  6  7  8 10 11 12] [1 9]
[ 0  2  3  4  5  6  7  8  9 11 12] [ 1 10]
[ 0  2  3  4  5  6  7  8  9 10 12] [ 1 11]
[ 0  2  3  4  5  6  7  8  9 10 11] [ 1 12]
[ 0  1  4  5  6  7  8  9 10 11 12] [2 3]
[ 0  1  3  5  6  7  8  9 10 11 12] [2 4]
[ 0  1  3  4  6  7  8  9 10 11 12] [2 5]
[ 0  1  3  4  5  7  8  9 10 11 12] [2 6]
[ 0  1  3  4  5  6  8  9 10 11 12] [2 7]
[ 0  1  3  4  5  6  7  9 10 11 12] [2 8]
[ 0  1  3  4  5  6  7  8 10 11 12] [2 9]
[ 0  1  3  4  5  6  7  8  9 11 12] [ 2 10]
[ 0  1  3  4  5  6  7  8  9 10 12] [ 2 11]
[ 0  1  3  4  5  6  7  8  9 10 11] [ 2 12]
[ 0  1  2  5  6  7  8  9 10 11 12] [3 4]
[ 0  1  2  4  6  7  8  9 10 11 12] [3 5]
[ 0  1  2  4  5  7  8  9 10 11 12] [3 6]
[ 0  1  2  4  5  6  8  9 10 11 12] [3 7]
[ 0  1  2  4  5  6  7  9 10 11 12] [3 8]
[ 0  1  2  4  5  6  7  8 10 11 12] [3 9]
[ 0  1  2  4  5  6  7  8  9 11 12] [ 3 10]
[ 0  1  2  4  5  6  7  8  9 10 12] [ 3 11]
[ 0  1  2  4  5  6  7  8  9 10 11] [ 3 12]
[ 0  1  2  3  6  7  8  9 10 11 12] [4 5]
[ 0  1  2  3  5  7  8  9 10 11 12] [4 6]
[ 0  1  2  3  5  6  8  9 10 11 12] [4 7]
[ 0  1  2  3  5  6  7  9 10 11 12] [4 8]
[ 0  1  2  3  5  6  7  8 10 11 12] [4 9]
[ 0  1  2  3  5  6  7  8  9 11 12] [ 4 10]
[ 0  1  2  3  5  6  7  8  9 10 12] [ 4 11]
[ 0  1  2  3  5  6  7  8  9 10 11] [ 4 12]
[ 0  1  2  3  4  7  8  9 10 11 12] [5 6]
[ 0  1  2  3  4  6  8  9 10 11 12] [5 7]
[ 0  1  2  3  4  6  7  9 10 11 12] [5 8]
[ 0  1  2  3  4  6  7  8 10 11 12] [5 9]
[ 0  1  2  3  4  6  7  8  9 11 12] [ 5 10]
[ 0  1  2  3  4  6  7  8  9 10 12] [ 5 11]
[ 0  1  2  3  4  6  7  8  9 10 11] [ 5 12]
[ 0  1  2  3  4  5  8  9 10 11 12] [6 7]
[ 0  1  2  3  4  5  7  9 10 11 12] [6 8]
[ 0  1  2  3  4  5  7  8 10 11 12] [6 9]
[ 0  1  2  3  4  5  7  8  9 11 12] [ 6 10]
[ 0  1  2  3  4  5  7  8  9 10 12] [ 6 11]
[ 0  1  2  3  4  5  7  8  9 10 11] [ 6 12]
[ 0  1  2  3  4  5  6  9 10 11 12] [7 8]
[ 0  1  2  3  4  5  6  8 10 11 12] [7 9]
[ 0  1  2  3  4  5  6  8  9 11 12] [ 7 10]
[ 0  1  2  3  4  5  6  8  9 10 12] [ 7 11]
[ 0  1  2  3  4  5  6  8  9 10 11] [ 7 12]
[ 0  1  2  3  4  5  6  7 10 11 12] [8 9]
[ 0  1  2  3  4  5  6  7  9 11 12] [ 8 10]
[ 0  1  2  3  4  5  6  7  9 10 12] [ 8 11]
[ 0  1  2  3  4  5  6  7  9 10 11] [ 8 12]
[ 0  1  2  3  4  5  6  7  8 11 12] [ 9 10]
[ 0  1  2  3  4  5  6  7  8 10 12] [ 9 11]
[ 0  1  2  3  4  5  6  7  8 10 11] [ 9 12]
[ 0  1  2  3  4  5  6  7  8  9 12] [10 11]
[ 0  1  2  3  4  5  6  7  8  9 11] [10 12]
[ 0  1  2  3  4  5  6  7  8  9 10] [11 12]

In [8]:
kf=KFold(n_splits=2)
for train,test in kf.split(x,y):
    print(train,test)

[ 7  8  9 10 11 12] [0 1 2 3 4 5 6]
[0 1 2 3 4 5 6] [ 7  8  9 10 11 12]

In [9]:
# ck=StratifiedKFold(n_splits=5)
# for train,test in ck.split(x,y):
#     print(train,test)

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
from sklearn.model_selection import cross_val_score
cr=cross_val_score(LinearRegression(),x,y,cv=5)

In [12]:
cr.sort()
cr

In [17]:
cr=cross_val_score(LinearRegression(),x,y,cv=KFold(n_splits=5))

In [18]:
cr

array([  0.14565489,   0.56283873,   0.52092548, -12.0187819 ,
       -15.75214315])